@import 'tailwindcss';

html,
body {
  height: 100%;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: var(--mantine-breakpoint-xl)) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}
