.list {
  position: relative;
}

.bordered {
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 1rem;
  padding: 0.25rem;
}

.indicator {
  background-color: var(--mantine-primary-color-filled);
  border-radius: 1rem;
  border: 1px solid var(--mantine-primary-color-filled);
  box-shadow: var(--mantine-shadow-sm);

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);
  }
}

.tab {
  z-index: 1;
  font-weight: 500;
  transition: color 100ms ease;
  color: var(--mantine-color-gray-7);
  padding: 0.8rem 1rem;
  border-radius: 1rem;

  &[data-active] {
    color: #fff;
  }

  @mixin dark {
    color: var(--mantine-color-dark-1);

    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}
